<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html ng-app"project">

<head>
    <title>Blood Shark Fins</title>

    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
<style>
.mySlides {display:none;}
</style>

   <meta charset="utf-8" />
    <meta http-quiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <script src="assets/js/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="angular.js"></script>
    <script src="echarts.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript"></script>
    <!-- Angualr js script for body map -->
    <script>
            var dBexampleApp = angular.module('dBexampleApp', []).controller('dBcontroller', function($scope) {
                $scope.AngdB = 0;
    
                $scope.getAngdB = function() {
                    return $scope.AngdB;
                };
                $scope.dBchange = function() {
                    $scope.AngdB = parseInt($scope.AngdB);
                }
            });
        </script>


     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

    <!-- Header -->
    <header id="header" class="alt">
        <div class="logo"><a href="index.html">Blood Shark Fins <span></span></a></div>
        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="generic.html">Generic</a></li>
            <li><a href="elements.html">Elements</a></li>
        </ul>
    </nav>

    <!-- Banner -->
    <section class="banner full">
        <article>
            <img src="Carousel1/Sharkfin.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>Blood Shark Fins</a></p>
                    <h2>Can you hear the howling of sharks?</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="Carousel1/Sharkfin2.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>Blood Shark Fins</p>
                    <h2>Can you hear the howling of sharks?</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="Carousel1/Sharkfin3.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>Blood Shark Fins</p>
                    <h2>Can you hear the howling of sharks?</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="Carousel1/Sharkfin4.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>Blood Shark Fins</p>
                    <h2>Can you hear the howling of sharks</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="Carousel1/Sharkfin5.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>Blood Shark Fins</p>
                    <h2>Can you hear the howling of sharks</h2>
                </header>
            </div>
        </article>
    </section>

    <div class="container">

        <!-- One -->
        <section id="one" class="one">
            <div class="inner">
                <div class="grid-style">
                        <div class="box">
                            <section id="about" class="about">
                                <div class="container">
                                </br>
                                </br>
                                    <h2 style="color:#2f4554">| The Origin of Shark Fin Soup</h2>
                                </br>
                                    <div class="row">
                                            <p class="text-left">The origin of Shark Fin soup can be traced back to as early as the Sung Dynasty in China (AD 968). The emperor at that time used the delicacy to demonstrate his generosity, respect and status to his banquet guests. 
                                            </p>
                                            </br>
                                            </br>
                            
                                            <h5 style="color:#2f4554"><i>The Development of Shark Fin Soup to Shark Fin Trade</i></h5>
                                            <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1XqO4Bc3C2tBuLfcn7atz5W1fifAWcTrAThXBBc-KtXs&font=Default&lang=en&timenav_position=top&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
                                            <p class="text-left">The dish is one of the Big 4 (Albone, sea cucumber, Shark fin and fish maw) In Chinese cuisine, a series of dishes which represent prosperity, class and wealth in traditional Chinese culture. </p>
                                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                                      <!-- Indicators -->
                                                      <ol class="carousel-indicators">
                                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                                        <li data-target="#myCarousel" data-slide-to="1"></li>
                                                        <li data-target="#myCarousel" data-slide-to="2"></li>
                                                        <li data-target="#myCarousel" data-slide-to="3"></li>
                                                      </ol>
                                                  
                                                      <!-- Wrapper for slides -->
                                                      <div class="carousel-inner">
                                                        <div class="item active">
                                                          <img src="Carousel2/Abalone.jpg" alt="Abalone" style="width:70%;">
                                                          <div class="carousel-caption">
                                                                <h3>Abalone</h3>
                                                              </div>
                                                        </div>
                                                  
                                                        <div class="item">
                                                          <img src="Carousel2/Seacucumber.jpg" alt="Sea Cucumber" style="width:100%;">
                                                          <div class="carousel-caption">
                                                                <h3>Sea Cucumber</h3>
                                                              </div>
                                                        </div>
                                                      
                                                        <div class="item">
                                                          <img src="Carousel2/Fish Maw.jpg" alt="Fish Maw" style="width:100%;">
                                                          <div class="carousel-caption">
                                                                <h3>Fish Maw</h3>
                                                              </div>
                                                        </div>

                                                        <div class="item">
                                                        <img src="Carousel2/sharkfinsoup.jpg" alt="Shark Fin" style="width:100%;">
                                                        <div class="carousel-caption">
                                                            <h3>Shark Fin Soup</h3>
                                                        </div>
                                                        </div>
                                                      </div>
                                                  
                                                      <!-- Left and right controls -->
                                                      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                                        <span class="sr-only">Previous</span>
                                                      </a>
                                                      <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                                        <span class="sr-only">Next</span>
                                                      </a>
                                                    </div>
                                                    </div>    
</br>
<!-- Two -->
</br>
<div class="row">
<div class="col-md-12">
<p class="text-left">
        Up till today, Shark Fin soup is seen as a “conspicuous consumption product” and face , meaning it is a public display of social status. The dish is most commonly served in Chinese weddings. The folklore says that if the bride marries into a family without Shark fin soup on the wedding banquet, then she is marrying into a broke family. It is also served in baby showers and an elderly’s birthday celebration. 
</p>
</div>
</div>
</br>
</br>
<h2 style="color:#2f4554">| What is Shark Fin soup made of?</h2>
</br>
</br>
<p class="text-left">
Shark fin soup is thickened soup made with chicken broth, accompanied by shark fin threads and shredded chicken. The price can range from $5 to $200 dollars depending on the type and style of the shark served. 
</p>
</br>
</br>
<!-- BodyMap -->
<div ng-app="dBexampleApp">

        <div ng-controller="dBcontroller">
                <div class="row">
            <div class="col-md-6">
            </br>
            </br>
<img src="Drag/Washing.png" style="width:450px;height:300px; display:block" id="man1" ng-if="getAngdB() == 1">
<!--usemap="#myMap"-->
<img src="Drag/Boil sharkfins.png" style="width:500px;height:300px; display:block" id="man2" ng-if="getAngdB() == 2">
<img src="Drag/Strain.png" style="width:400px;height:300px; display:block" id="man3" ng-if="getAngdB() == 3">
<img src="Drag/Chickenbroth.png" style="width:500px;height:300px; display:block" id="EMG1" ng-if="getAngdB() == 4">
<img src="Drag/Ingredients.png" style="width:540px;height:380px; display:block" id="ear1" ng-if="getAngdB() == 5">
<img src="Drag/cornstarch.png" style="width:540px;height:380px; display:block" id="ear2" ng-if="getAngdB() == 6">
</div>
            <div class="col-md-2">
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    <label for="dBValue" style="font-size:15px">{{AngdB}}</label>
                    <input type="range" ng-change="dBchange()" min="1" max="6" step="1" id="dBValue" value="{{getAngdB()}}" ng-model="AngdB" style="height:225px;width:30px;-webkit-appearance: slider-vertical;" list="tickmarks" orient="vertical">
                    <datalist id="tickmarks">
                        <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option>  
                    </datalist>
                </div>
        <div class="col-md-4">
        <p class="text-left">
        (1) Place the fins in lukewarm water and thoroughly clean and scale them
        </p>
        <p class="text-left">
        (2) Place fins in a fresh litre of water and bring them to a boil.
        </p>
        <p class="text-left">
        (3) Strain the fins after boiling them for an hour.
        </p>
        <p class="text-left">
        (4) In a separate pot, add chicken broth and bring to a boil.
        </p>
        <p class="text-left">
        (5) Add ginger and shrimp, simmering for thirty minutes, add soy sauce, wine, broth, fish stock, and fins. Stirring frequently, for twenty minutes.
        </p>
        <p class="text-left">
        (6) Remove from heat and slowly stir in the corn starch, in small increments.
        </p>
    </div>
    </div>
    </div>
    </div>

    <!-- Three -->
</br>
</br>
</br>
<h2 style="color:#2f4554">| Why there is shark fin trading?</h2>
</br>
</br>
<div class="row">
    <div class="col-md-12">
<p class="text-left">
        Shark fin trade will never stop when there is demand in shark fins, especially in Asian countries such as China. Here is the brutal practice:  A shark is caught and brought to the surface, its fins are sliced off, often while the animal is still alive, and then the body thrown back overboard to drown, bleed to death or be eaten alive by other animals. Such Chinese convention has caused wide massacre among sharks. Quoting the statistics by Life Science, more than 73 million sharks are being killed each year. 
</p>
</div>
</div>

<!-- Four -->
</br>
</br>
<h2 style="color:#2f4554">| Consumption of shark fin in Hong Kong</h2>
</br>
</br>
<div class="row">
<div class="col-md-4">
<p class="text-left">
    According to the statistics by Hong Kong Shark Foundation in 2016, over 98% of the 375 surveyed restaurants offered shark fin on their Chinese New Year menus. Only seven restaurants did not follow such convention: 
</p>
</br>
<p class="text-left">

    1. Loong Yuen Cantonese Restaurant (Tsim Sha Tsui) 
</p> 
</br>
<p class="text-left">
2. Paradise Dynasty (Causeway Bay) 
</p>        
</br>
<p class="text-left">
3. Putien Restaurant (5 outlets)     
</p>
</br>
<p class="text-left">
    One out of five (Putien outlets) still provided one dish with shark fin on demand. Of the remaining two, one (Paradise Dynasty) did not offer shark fin as it served only Shanghainese cuisine and the other (Loong Yuen Cantonese Restaurant) did not offer shark fin, due to environmental issues. 
</p>
</br>
<p class="text-left">
    Only about 15% out of 2470 menus across nearly 400 restaurants were found to be free of shark fin. While for the 183 restaurants that had a complete set of menus available, only about 10% of them were shark free. Nearly 30 of them had shark fin soup available on request secretly. 

</p>
</br>
<p class="text-left">
    The scenario entails that due to the limited availability of fin-free friendly menus and the symbolism of shark fin as wealth and prosper in traditional Chinese culture , it is likely that a large proportion of Hong Kong’s family reunion diners will be feeding on shark fin. However, research has shown that nearly 50% of the shark fin trade in Hong Kong is composed endangered shark species. Hongkongers’ eating habit has sped up the extinction of more rare shark species. 
</p>
</br>
</div>
<div class="col-md-8">
                <div id="container" style="height: 460%" object align="right"></div>
                <script type="text/javascript">
                    var dom = document.getElementById("container");
                    var myChart = echarts.init(dom);
                    var app = {};
                    option = null;
                    option = {
                        title : {
                            text: 'Number of shark free menus in Hong Kong restaurants (2016)',
                            subtext: 'Source: Hong Kong Shark Foundation',
                            x:'center'
                        },
                        tooltip : {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left',
                            data: ['Shark Free Menus Available','Non-Shark Free Menus Available']
                        },
                        series : [
                            {
                                name: 'Number of shark free menus in Hong Kong restaurants (2016)',
                                type: 'pie',
                                radius : '55%',
                                center: ['50%', '60%'],
                                data:[
                                    {value:357, name:'Shark Free Menus Available (14.5%)'},
                                {value:2113, name:'Non-Shark Free Menus Available (85.5%)'}
                                ],
                                itemStyle: {
                                    emphasis: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    ;
                    if (option && typeof option === "object") {
                        myChart.setOption(option, true);
                    }
</script>
</br>
<div id="ugly" style="height: 460%"></div>
<script type="text/javascript">
    var dom = document.getElementById("ugly");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
        title : {
            text: 'Number of shark free menus in Hong Kong restuarants with complete set of menus',
            subtext: 'Source: Hong Kong Shark Foundatoin',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['Shark Free Menus available','Non-Shark Free Menus available']
        },
        series : [
            {
                name: 'Number of shark free menus in Hong Kong restuarants with complete set of menus',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    {value:3, name:'Shark Free Menus available (1.6%)'},
                    {value:180, name:'Non-Shark Free Menus available (98.4%)'},
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
           </script>

</div>
</div>

<!--Five-->
</br>
</br>
<h2 style="color:#2f4554">| Hong Kong's role in Shark Fin Trading</h2>
</br>
</br>
<h4 style"color:#2f4554"># The largest Shark Fin Trader in the world</h4>
</br>
</br>
<p class="text-left">
Sharks are not commonly found in Hong Kong marine area, but shark fins are ubiquitous in the city’s dried seafood stores, hanging on the ceiling or placing inside glass jars neatly. Hong Kong is the world largest shark fin trading hub, which accounts for about 40 percent of global shark fin trade annually, according to World Wildlife Fund. 
</p>

<!--Six-->
<div class="container">
        <div class="row">
            <div class="col-md-6">
                <iframe src="https://zinnialee23.github.io/data%20final%20pj/Chart4.html" height="600" width="600" style="border:none;" object align="left">
    </iframe>
            </div>
            <div class="col-md-6">
                <iframe src="https://zinnialee23.github.io/data%20final%20pj/Chart3.html" height="600" width="600" style="border:none;" object align="right">
 </iframe>
            </div>
        </div>
    </div>

<div class="row">  
<div class="col-md-3">
<p class="text left">Not only is Hong Kong the top shark fin trader worldwide, its shark fin consumption is also tremendous. According to Food and Agriculture Organization of the United Nations, the net shark fin consumption of Hong Kong in 2011 is 191,485 tonnes after deducting its import volume with the export volume.</p> 
</br>
<p class="text left">Yet, Hong Kong’s shark fin imports and re-exports have been decreasing, thanks to shipping bans on fin carriage and stricter international regulations on endangered species. The shark fin imports halved since 2007, which decreased from 10,210 tonnes to 4,979 in 2017. Re-exports also fell by 75 percent, which declined from 5,683 tonnes in 2007 to 1,434 in 2017.
</p>
</div>
<div class="col-md-9">
        <div class="container">
                        <iframe src="https://zinnialee23.github.io/data%20final%20pj/Line3.html" height="600" width="700" style="border:none;" object align="left">
            </iframe>
</div>
</div>
</div>

<!-- Seven-->
</br>
</br>
</br>
<h2 style="color:#2f4554">| Adverse effects of Hong Kong's Trading</h2>
<div class="row">
<div class="col-md-5">
</br>
</br>
<h1 style="color:#2f4554">What is the ratio of Humans Kill Sharks VS Sharks Kill Humans?</h1>
<p class="text-left"> 
</br>
</p>
According to the 2013 edition of Marine Policy, around 100 million sharks are killed every year to satisfy the demand for shark fins and meat. Yet, only 12 people were killed by shark in the peak year.
</p>
<p class="text-left">
Due to the shark massacre, what human considered to be one of the world’s deadliest animals are now endangered. 
</p>
<p class="text-left">
The growth rate of sharks is slower than other fishes, leading to the delay of sexual maturity. Some breeds can only reproduce at 25 years old and their pregnancy will last for 22 months. It is also difficult for them to get pregnant, and even if they do, only few baby sharks would be bornt. Therefore, when there is a sharp decline in the numbers of sharks, restoration is a tall order.
</p>
<p class="text-left">
Worse still, in a SCMP’s news reporting, one third of the shark fin products sold in Hong Kong come from vulnerable or endangered species.
</p>
</br>
</br>
</br>
<iframe src="https://hychow.github.io/chart1/" height="600" width="420" style="border:none;" object align="right"></iframe>
</iframe>
</div>

<div class="col-md-7">
</br>
</br>
</br>
<img src="images/ezgif.com-crop.gif" width="71%">
</br>
</br>
</br>
</br>
<img src="images/Top10.png" width="71%">
</div>
</div>
</br>
</br>
</br>
<p class="text-left">Shark finning is a cruel practice.
</p>
<!--eight-->
<div class="container">
<div class="col-md-12">
<img src="images/graphic.jpg" height="100%" width="100%" margin="o" >
</div>
</div>

<!--nine-->
</br>
</br>
<h2 style="color:#2f4554">| The battle against Shark Finning</h2>
</br>
</br>
<p class="major">The brutal practice of shark fin hunting has aroused round attention. Activists have adopted a variety of approaches of ceasing any more such cruel practices.
</p>
<p class="major">Hong Kong is a one of the main trade hub for shark fin. Hong Kong Shark foundation, together with World Wildlife Fund, have been making exposure to the public and send the message of “Shark-free banquets”, since shark fin soup is a routine
    cuisine in big occasions. They have engaged 25 companies from different walks of business and have them implement shark-free policy.</p>
<p class="major">However, the progress of protecting shark in Hong Kong is rather slow. Killing shark is still not a crime in Hong Kong unless it is of endangered species. Protection of Endangered Species of Animals and Plants (Amendment) Bill 2017 was
    finished with its scrutiny in late 2017, and is going to report to the Legco House Committee soon in order to arrange for the resumption of the second reading of the bill.
</p>
<p class="major">Shark finning is getting recognised as a world issue and it is gaining more support from governments. However, a lot more could be done to prevent more massacre from happening. Those susceptible countries and regions involved can step
    up their act by passing law and enforcement to not only stop the hunting, but also to enlarge their scope of animal protection. The new generation should apprehend the unnecessity of serving shark fin soup in banquets since it has
    zero nutrition value. They should get rid of the custom of having shark as cuisine in a way for celebration and wealth show-off. They should be educated that every species including sharks plays a crucial part in the ecosystem.</p>
<p class="major">That should be the strategy for saving the sharks. That would be the strategy for saving the future</p>
<br>
<br>

<h2 style="color:#2f4554">| References</h2>
</br>
</br>
<ul>
    <li> <a href="http://hksharkfoundation.org/wp-content/uploads/2016/01/Lunar-New-year-shark-fin-survey-2016.pdf">Chinese New Year Hong Kong Restarant Shark Fin Survey 2016 </a></li>
    <li><a href="http://www.fao.org/3/a-i4795e.pdf">State of the global market for shark products</a></li>
    <li><a href="https://d3q9070b7kewus.cloudfront.net/downloads/shark_product_import_and_re_export_volume_eng.pdf">Shark product import and re-export volume</a></li>
    <li><a href="http://www.scmp.com/news/hong-kong/health-environment/article/2117831/how-many-hong-kongs-shark-fin-products-are">More than a third of Hong Kong shark fin products are from threatened species, study reveals</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Shark_finning">Shark finning</a></li>
    <li><a href="https://www.popsci.com/science/article/2013-04/shark-attacks-people-versus-people-attacks-sharks-infographic">Shark Attacks On Humans Vs. Human Attacks On Sharks </a></li>
    <li><a href="http://www.ejinsight.com/20180105-the-most-effective-way-to-curb-shark-fin-trade-in-hong-kong/">The most effective way to curb shark fin trade in Hong Kong</a></li>
    <li><a href="https://www.wwf.org.hk/en/?20540/Press-Release-Hong-Kong-Shark-Fin-Imports-Down-50">Hong Kong Shark Fin Imports Down 50%</a></li>
    <li><a href="http://hksharkfoundation.org/campaigns/">HK Shark Foundation Campaigns</a></li>
</ul>
</br>
</br>
                                 <!-- Footer -->
                                 <center>
                                    <footer id="footer ">
                                        <div class="container ">
                                            <ul class="icons ">
                                                <li><a href="# " class="icon fa-twitter "><span class="label ">Twitter</span></a></li>
                                                <li><a href="# " class="icon fa-facebook "><span class="label ">Facebook</span></a></li>
                                                <li><a href="# " class="icon fa-instagram "><span class="label ">Instagram</span></a></li>
                                                <li><a href="# " class="icon fa-envelope-o "><span class="label ">Email</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="copyright ">
                                            &copy; Zinnia Lee, Yoyo Chow, Celia Lai, Erin Chan. All rights reserved.
                                        </div>
                                    </footer>
                                </div>
                                </center>
                            
                                <!-- Scripts -->
                                <script src="assets/js/jquery.min.js "></script>
                                <script src="assets/js/jquery.scrollex.min.js "></script>
                                <script src="assets/js/skel.min.js "></script>
                                <script src="assets/js/util.js "></script>
                                <script src="assets/js/main.js "></script>
                                <script src="assets/js/jquery-3.3.1.js "></script>
                             

</body>

</html>
